@import '../../../../assets/css/variables.css';

@define-mixin row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 var(--margin-row-mobile);

	@media (--screen-lg) {
		margin: 0 var(--margin-row-desktop);
	}
}

.row {
	@mixin row;
}

.justifyContent-flex-start {
	justify-content: flex-start;
}

.justifyContent-flex-end {
	justify-content: flex-end;
}

.justifyContent-center {
	justify-content: center;
}

.justifyContent-space-between {
	justify-content: space-between;
}

.justifyContent-space-around {
	justify-content: space-around;
}

.justifyContent-initial {
	justify-content: initial;
}

.alignItems-stretch {
	align-items: stretch;
}

.alignItems-center {
	align-items: center;
}

.alignItems-flex-start {
	align-items: flex-start;
}

.alignItems-flex-end {
	align-items: flex-end;
}

.alignItems-baseline {
	align-items: baseline;
}

.alignItems-initial {
	align-items: initial;
}
