{
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 4,
	"endOfLine": "lf",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always"
}
