@import '../../../assets/css/variables.css';

.readable {
	box-sizing: border-box;
	width: 100%;
	max-width: 992px;
	margin: 20px auto;
	min-height: calc(100vh - 110px);

	@media (--screen-lg) {
		min-height: calc(100vh - 60px);
		margin: 64px auto;
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		padding: 0;
		margin: 20px 0;
	}
}
