@import '../../../assets/css/variables.css';

.contentPusher {
	box-sizing: border-box;
	width: 100%;
	transform: translateY(-30px);
	opacity: 0;
	transition: all 0.5s ease;
	
	@media (--screen-lg) {
		padding-left: 30%;
	}

	@media (--screen-xl) {
		padding-left: 20%;
	}

	&.visible {
		transform: translateY(0);
		opacity: 1;
	}

	& > * {
		padding: 0 20px;

		@media (--screen-lg) {
			padding: 0 64px;
		}
	}

	& img {
		width: auto;
	}
}
