@import '../../assets/css/variables.css';

.content {
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.3s ease;

	&:global(.visible) {
		opacity: 1;
		transform: translateY(0);
	}
}

.notFound {
	& .title {
		font-size: var(--big-font-size);
		line-height: var(--big-line-height);
		font-weight: bold;
		margin: 20px 0;
	}
}
