/*********************************************************************
**********************************************************************
Cherry 0.0.1 - Design System
Global Styles
**********************************************************************
*********************************************************************/

@import './variables.css';

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-text);
	font-size: var(--size-mobile-text);
	line-height: var(--lineheight-mobile-text);
	padding-top: var(--padding-top-body-mobile);

	@media (--screen-lg) {
		font-size: var(--size-desktop-text);
		line-height: var(--lineheight-desktop-text);
		padding-top: var(--padding-top-body-desktop);
	}
}

* {
	box-sizing: border-box;

	&::selection {
		background: var(--color-dark);
		color: var(--color-light);
	}
}

a,
button {
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease;
}

a {
	color: var(--color-primary);

	&:hover {
		color: var(--color-secondary);
	}
}

figure {
	margin: 0;
}

hr {
	border: none;
	border-bottom: solid 1px var(--color-gray-light);
}

fieldset {
	appearance: none;
	border: none;
}

img,
svg {
	transition: all 0.3s ease;

	& * {
		transition: all 0.3s ease;
	}
}

img {
	max-width: 100%;
	width: 100%;
}

strong,
b {
	font-weight: 700;
	color: var(--color-primary);
}

small {
	@mixin small;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@mixin heading;
}

h1 {
	@mixin h1;
}

h2 {
	@mixin h2;
}

h3 {
	@mixin h3;
}

h4 {
	@mixin h4;
}

h5 {
	@mixin h5;
}

h6 {
	@mixin h6;
}

p {
	@mixin paragraph;
}

table {
	border-collapse: collapse;
	border: solid 1px var(--color-gray-light);
}

table td,
table th {
	font-weight: 400;
	padding: 4px 7px;
}

table th {
	font-weight: 700;
	background: var(--color-tertiary);
}

table td {
	color: var(--color-secondary);
}

table th:first-child,
table td:first-child {
	padding-left: 8px;
}

table tr th {
	border: 0;
}

table tr td {
	border: 0;
}

table tr:nth-child(even) {
	background: var(--color-tertiary);
}

table tr:nth-child(odd) {
	background: var(--color-light);
}
