@import '../../assets/css/variables.css';

.loading {
	width: 32px;
	height: 32px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	& img {
		animation: spinner infinite 1s forwards;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
