@import '../../assets/css/variables.css';

.loading {
	width: 32px;
	height: 32px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transition: all 0.3s ease;
	transform: translate(-50%, calc(-50% + 0));

	& img {
		animation: spinner infinite 1s forwards;
		width: 32px;
		height: auto;
	}
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
