@import '../../assets/css/variables.css';

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	box-sizing: border-box;
	padding: 30px 0 20px 0;

	& img {
		width: 100%;
		max-width: 420px;
	}

	& .title {
		font-size: var(--big-font-size);
		line-height: var(--big-line-height);
		font-weight: bold;
		margin: 30px 0 20px;
	}

	& .content {
		box-sizing: border-box;
		border: solid 1px var(--light-gray);
		padding: 20px;

		& h1 {
			font-size: var(--h2-font-size);
			line-height: var(--h2-line-height);
			font-weight: 100;
		}

		& p {
			&:last-of-type,
			&:only-of-type {
				margin-bottom: 0;
			}
		}
	}
}
