@import '../../../../assets/css/variables.css';

.container {
	max-width: 1440px;
	margin: auto;
	padding-right: var(--margin-container-mobile);
	padding-left: var(--margin-container-mobile);

	@media (--screen-lg) {
		padding-right: var(--margin-container-desktop);
		padding-left: var(--margin-container-desktop);
	}

	@media (--screen-xxxl) {
		max-width: 1704px;
	}
}

.containerFluid {
	width: 100%;
	max-width: initial;
	padding-right: var(--margin-container-mobile);
	padding-left: var(--margin-container-mobile);
	margin-right: auto;
	margin-left: auto;

	@media (--screen-lg) {
		padding-right: var(--margin-container-desktop);
		padding-left: var(--margin-container-desktop);
	}
}
