@import '../../assets/css/variables.css';

.intro {
	width: 100%;
	background-color: var(--secondary-color);
	position: relative;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(-50%, 50%);
		width: 200px;
		height: 200px;
		background: url('../../assets/images/bg.svg') no-repeat center center;
		opacity: 0.2;
		z-index: 1;
	}

	& .title {
		font-size: var(--big-font-size);
		line-height: var(--big-line-height);
		color: var(--extra-color);
		font-weight: bold;
		margin: 30px 0 10px;
	}

	& .desc {
		color: var(--white);
		font-size: var(--h3-font-size);
		line-height: var(--h3-line-height);
		margin: 0 0 40px;
		font-weight: 100;
	}
}
