@import '../../assets/css/variables.css';

.navigation {
	width: 100%;
	line-height: 2em;
	background-color: var(--primary-color);
	display: flex;
	justify-content: space-between;

	& .logo {
		box-sizing: border-box;
		padding: 20px;

		& img {
			width: 22px;
			height: 20px;
			vertical-align: middle;
			margin-right: 10px;
		}

		& span {
			vertical-align: middle;
			color: var(--white);
			font-weight: bold;
			font-size: var(--h5-font-size);
		}
	}

	& .menu {
		box-sizing: border-box;
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		padding: 0 10px 0 0;

		& li {
			box-sizing: border-box;
			padding: 0;
			margin: 0;

			& a {
				display: inline-block;
				color: var(--white);
				box-sizing: border-box;
				font-size: var(--h5-font-size);
				font-weight: 400;
				padding: 20px 10px;

				&:hover {
					color: var(--extra-color);
				}

				&.active {
					color: var(--extra-color);
				}
			}
		}
	}
}
